/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-primary: #3056d3;
    --var-white: #fff;
    --var-dark-blue: #090e34;
    --var-gray: #637381;
    --var-Light-gray: #e5e7eb;
    --var-gray-bg: #f3f4fe;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

body {
    font-family: "Inter", sans-serif;
}

.nav-bar{
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--var-primary);
    padding: 28px 120px;
    z-index: 100;
}

.sticky{
    background-color: #FFFFFFCC !important;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    padding: 16px 120px;
}

.left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--var-white);
}

.brand-logo h2{
    font-size: 38px;
    color: var(--var-primary);
}

.logo-name{
    font-size: 38px;
    text-transform: uppercase;
    color: var(--var-white);
    letter-spacing: 1px;
    line-height: 24px;
    margin-left: 8px;
    font-weight: 600;
}

.nav-items{
    margin-left: 80px;
}

.nav-items ul li{
    display: inline;
    padding: 24px;
}

.nav-items ul li a{
    text-decoration: none;
    font-size: 16px;
    color: var(--var-white);
    line-height: 24px;
}

.nav-links a:hover{
    color: var(--var-Light-gray);
}

.nav-links-a a{
    color: var(--var-dark-blue) !important;
}

.nav-links-a a:hover{
    color: var(--var-primary) !important;
}

.right-side a{
    color: var(--var-white);
    text-decoration: none;
    padding: 0 24px;
}

.menu{
    display: none;
}
.right-side a:last-child{
    padding: 16px 24px;
    background-color: rgba(199, 208, 255, 0.26);
    border-radius: 8px;
    transition: 0.3s ease;
}

.sign-up{
    background-color: var(--var-primary) !important;
}

.sign-up:hover{
    background-color: var(--var-dark-blue) !important;
    color: #fff !important;
}

.signin{
    color: var(--var-dark-blue) !important;
}
.signin:hover{
    color: var(--var-primary) !important;
}

.sign-in:hover{
    color: var(--var-Light-gray);
    opacity: 0.7;
}

.right-side a:last-child:hover{
    background-color: var(--var-white);
    color: var(--var-dark-blue);
}




.container {
    width: 100%;
    /* padding: 0 120px; */
    padding: 0 7%;
}

/* **********************************Home********************************** */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--var-primary);
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    width: 60%;
}

.hero-title h1 {
    text-align: center;
    font-size: 45px;
    color: var(--var-white);
    line-height: 1.375;
    font-weight: 700;
    margin-bottom: 2rem;
}

.hero-title p {
    font-size: 19px;
    margin: 0 90px 40px;
    text-align: center;
    line-height: 1.625;
    color: var(--var-Light-gray);
}

.hero-img {
    display: flex;
    justify-content: center;
    width: 845px;
}

.hero-img img {
    width: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}


/* **********************************Features********************************** */

.features {
    width: 100%;
    margin: 80px 0 70px;
}

.features-heading {
    width: 100%;
    padding: 40px 0 80px;
}

.features-heading-container {
    max-width: 645px;
}

.features-heading-container h3 {
    font-size: 18px;
    padding-bottom: 8px;
    color: var(--var-primary);
}

.features-heading-container h1 {
    font-size: 42px;
    padding-bottom: 16px;
    color: var(--var-dark-blue);
}

.features-heading-container p {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--var-gray);
}

.features-items {
    width: 100%;
}

.features-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features-items-card {
    width: 300px;
    margin-bottom: 48px;
}

.icon-container {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--var-primary);
    border-radius: 15px;
    margin-bottom: 32px;
}

.box {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(48 86 211/0.2);
    border-radius: 15px;
    z-index: -1;
    transform: rotate(25deg);
    transition: 0.2s ease-in-out;
}

.fa-solid,
.uil {
    color: var(--var-white);
    font-size: 30px;
}

.features-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features-details-container h3 {
    font-size: 20px;
    padding-bottom: 12px;
    color: var(--var-dark-blue);
}

.features-details-container p {
    font-size: 16px;
    padding-bottom: 44px;
    color: var(--var-gray);
}

.features-details-container a {
    text-decoration: none;
    color: var(--var-gray);
    font-size: 16px;
}

/* **********************************About********************************** */

.about {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #f3f4fe;
}

.about-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--var-white);
    border-width: 1px;
}

.about-container-details {
    width: 640px;
    padding: 70px;
}

.about-container-details span {
    font-size: 14px;
    padding: 8px 18px 8px 18px;
    background-color: var(--var-primary);
    color: var(--var-white);
    font-weight: 500;
    line-height: 18px;
}

.about-container-details h1 {
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 40px;
    color: var(--var-dark-blue);
    line-height: 1.375;
    font-weight: 700;
}

.about-container-details p {
    line-height: 1.625;
    font-size: 17px;
    color: var(--var-gray);
    margin-bottom: 36px;
}

.about-container-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.about-img{
    width: 540px;
    height: 700px;
}



.about-container-details a {
    text-decoration: none;
    font-size: 16px;
    padding: 16px 24px;
    background-color: var(--var-primary);
    color: var(--var-white);
    font-weight: 500;
    border-radius: 4px;
    transition: 0.3s ease;
}

.about-container-details a:hover {
    background-color: #4f68bd;
    box-shadow: 0px 1px 15px #95aaf0;
}

/* **********************************FAQ********************************** */

.faq {
    width: 100%;
    background: rgb(229, 231, 235);
    background: linear-gradient(180deg,
            rgba(229, 231, 235, 1) 5%,
            rgba(166, 196, 255, 1) 74%);
    padding: 120px 0 90px;
}

.faq-container-heading {
    display: flex;
    width: 100%;
    justify-content: center;
}

.faq-container-heading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    text-align: justify;
    margin-bottom: 80px;
}

.faq-container-heading-box h3 {
    font-size: 18px;
    color: var(--var-primary);
    margin-bottom: 8px;
}

.faq-container-heading-box h1 {
    font-size: 42px;
    color: var(--var-dark-blue);
    margin-bottom: 16px;
    font-weight: 700;
}

.faq-container-heading-box p {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 32px;
    color: #46525d;
}

.faq-container-items {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.left-side-items,
.right-side-items {
    width: 50%;
    margin-right: 16px;
    margin-left: 16px;
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    background-color: var(--var-white);
    margin-bottom: 32px;
    border-radius: 8px;
}

.visible-items {
    display: flex;
    align-items: center;
}

.icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3056d30d;
    /* width: 40px;
    height: 40px; */
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;

    padding: 9px 11px;
}

.icon-bg i {
    color: var(--var-primary);
    font-size: 25px;
}

.visible-items-text h2 {
    font-size: 18px;
    color: #212b36;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.hidden-items {
    display: none;
    margin-left: 62px;
    padding: 12px 0;
    transition: 0.5s ease;
}

.display-items {
    margin-left: 62px;
    padding: 12px 0;
}

.display-items p {
    font-size: 16px;
    line-height: 1.625;
    color: #637381;
}

/* **********************************Testemonials********************************** */

.testemonials {
    width: 100%;
    margin-top: 120px;
}

.testemonials-container {
    width: auto;
}

.testemonials-header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.testemonials-header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 640px;
}

.testemonials-header-items h3 {
    font-size: 18px;
    color: var(--var-primary);
    padding-bottom: 8px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
}

.testemonials-header-items h1 {
    font-size: 42px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 1px;
    color: var(--var-dark-blue);
}

.testemonials-header-items p {
    color: var(--var-gray);
    font-size: 20px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 1px;
}

.testemonials-cards {
    margin-bottom: 60px;
}

.testemonials-cards-items {
    display: flex;
    width: 100%;
}

.cards-item {
    width: 33.333333%;
    padding: 32px;
    margin: 0 16px;
    margin-bottom: 42px;
    border-width: 1px;
    --tw-shadow: 0px 60px 120px -20px #ebeffd;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.cards-item-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cards-item-header-ratings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 12px;
}

.cards-item-header-ratings-item {
    margin-right: 4px;
}

.cards-item-header p {
    font-size: 16px;
    color: var(--var-gray);
    letter-spacing: 1px;
    line-height: 24px;
}

.cards-item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cards-item-details-img {
    margin-right: 20px;
}

.cards-item-details-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cards-item-details-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.cards-item-details-text h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.cards-item-details-text p {
    font-size: 12px;
    line-height: 16px;
    color: var(--var-gray);
}


/* **********************************Team********************************** */


.team{
    padding: 120px 0;
    width: 100%;
}

.team-container{
    width: auto;
}

.team-container-header{
    display: flex;
    padding: 0 16px;
}

.team-container-header-items{
    width: 620px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

.team-container-header-items h3{
    font-size: 18;
    font-weight: 600;
    line-height: 28px;
    color: var(--var-primary);
    margin-bottom: 8px;
}

.team-container-header-items h1{
    font-size: 42px;
    line-height: 40px;
    color: var(--var-dark-blue);
    font-weight: 700;
    margin-bottom: 16px;
}

.team-container-header-items p{
    font-size: 20px;
    line-height: 1.625;
    color: var(--var-gray);
}

.team-container-details{
    display: flex;
    justify-content: space-between;
}

.teams-card{
    width: 22%;
    margin: 0 16px;
    background-color: #f3f3f3;
    padding-bottom: 40px;
    border-radius: 18px;
    z-index: -1;
}

.team-member-img-container-bg{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #8ca6fc;

    z-index: -1;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.team-member-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: -58px;
}

.team-member-img-container img{
    height: 112px;
    width: 112px;
    border-radius: 50%;
}

.team-member-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-member-details-container h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var(--var-dark-blue);
    margin-bottom: 8px;
}

.team-member-details-container span{
    font-size: 14px;
    color: var(--var-gray);
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
}

.team-member-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
}

.facebook,
.twitter,
.instagram{
    margin: 0 18px;
}

.fa-brands{
    cursor: pointer;
    font-size: 20px;
    color: #797a7f;
}

.fa-brands:hover{
    color: var(--var-primary);
}


/* **********************************Contact********************************** */


.contact{
    width: 100%;
}

.contact-container-bg{
    position: absolute;
    width: 100%;
    height: 420px;
    background-color: #f3f4fe;
    z-index: -1;
}

.contact-container{
    width: auto;
    padding-top: 90px;
    padding-bottom: 80px;
}


.contact-container-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.contact-left-side-items{
    width: 66.666667%;
    padding: 0 16px;
}

.contact-right-side-items{
    width: 33.333333%;
    padding: 0 16px;
}

.upper-items{
    margin-bottom: 150px;
}

.upper-items h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--var-dark-blue);
}

.upper-items h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
    color: var(--var-dark-blue);
}

.lower-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.location,
.email{
    display: flex;
    width: 330px;
    
}

.icon{
    margin-right: 24px;
}

.icon i{
    font-size: 42px;
    color: var(--var-primary);
}

.location-details h5,
.email-details h5{
    font-size: 18px;
    color: var(--var-dark-blue);
    /* line-height: 28px; */
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 6px;
}

.location-details p,
.email-details p{
    font-size: 16px;
    line-height: 24px;
    color: var(--var-gray);
}

/* .contact-right-side-items{
} */

.contact-form{
    padding: 60px;
    background-color: #fff;
    --tw-shadow: 0px 60px 120px -20px #ebeffd;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 8px;
}

.contact-form h3{
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 32px;
}

.form-items{
    margin-bottom: 24px;
}

label{
    display: block;
    font-size: 13px;
    color: var(--var-dark-blue);
    opacity: 1;
}

input{
    width: 100%;
    padding: 16px 0;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: rgba(241, 241, 241, 1);
    font-size: 100%;
    line-height: inherit;
    color: inherit;
}

input:focus{
    outline: none;
    border-color: var(--var-primary);
}

textarea{
    outline: none;
    resize: none;
    width: 100%;
    font-size: 16px;
    line-height: inherit;
    color: inherit;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: rgba(241, 241, 241, 1);
}

textarea:focus{
    border-color: var(--var-primary);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60px;
    background-color: var(--var-primary);
    border-radius: 6px;
    cursor: pointer;
}

button{
    font-size: 16px;
    background: none;
    border-width: 0px;
    color: var(--var-white);

}


.footer{
    width: 100%;
}

.footer-container{
    width: auto;
    height: 400px;
    background-color: red;
}


@media(max-width: 900px){
    .nav-bar{
        top: 0;
        position: sticky;
        flex-wrap: nowrap;
        padding: 32px 10%;
        width: 100%;
    }

    .logo-name{
        font-size: 20px;
    }



    .nav-items{
        display: none;
    }

    .right-side a{
        display: none;
    }

    .menu{
        display: flex;
    }

    .home,
    .features,
    .about,
    .faq,
    .team,
    .contact{
        flex-wrap: wrap;
    }

    .hero-img{
        width: 300px;
    }

    .hero-title{
        width: 100%;
    }

    .hero-title h1{
        font-size: 35px;
    }

    .hero-title p{
        margin: 0 0 18px;

    }



    .features-items-container{
        flex-wrap: wrap;
    }

    .features-heading-container h1{
        font-size: 29px;
    }

    .faq-container-items{
        flex-wrap: wrap;
    }

    .faq-container-heading-box h1{
        font-size: 23px;
    }

    .left-side-items,
    .right-side-items{
        width: 100%;
        margin: 0;
    }

    .visible-items h2 {
        font-size: 16px;
    }

    .testemonials-header-items h1{
        font-size: 30px;
    }

    .testemonials-cards-items{
        flex-wrap: wrap;
    }

    .cards-item{
        width: 100%;
    }

    .team{
        padding: 50px 0;
    }

    .team-container-details{
        flex-wrap: wrap;
    }

    .team-container-header-items h1{
        font-size: 38px;
    }
    .team-container-header-items P{
        font-size: 16px;
    }

    .teams-card{
        width: 100%;
        margin: 25px 16px;
    }

    .about-container{
        flex-wrap: wrap;
    }

    .about-container-details h1 {
        font-size: 19px
    }

    .about-container-details{
        padding: 40px;
    }

    .about-container-img{
        display: none;
    }

    .contact-container-items{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contact-container-bg{
        height: 298px;
    }

    .contact-left-side-items{
        flex-wrap: wrap;
    }

    .contact-left-side-items,
    .contact-right-side-items{
        width: 100%;
    }

    .contact-right-side-items{
        padding: 0;
    }

    .upper-items{
        margin-bottom: 80px;
    }

    .lower-items{
        flex-wrap: wrap;
    }

    .location{
        margin-bottom: 32px;
    }

    .icon i{
        font-size: 28px;
    }

    .contact-form{
        padding: 60px 16px;
    }

    .button{
        width: 100%;
    }

}